<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Current rate of inflation (CPI) in the UK</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
	<body>
		<h1>{{ rpi }}</h1>
		<footer>
			&copy; 2011 <a href='http://stevenwilkin.com'>Steven Wilkin</a>
			&bull;
			<a href='/rpi.json'>API</a>
			&bull;
			<a href='http://github.com/stevenwilkin/ukinflation'>Source</a>
			&bull;
			<a href='http://twitter.com/stevebiscuit'>Twitter</a> 
		</footer>
	</body>
</html>
